
 .projects{
    width:100%;
    margin:auto;
   
    background-color: #DDE5B6;
    padding-top:3.125rem;
} 

.projects h1{
    font-size: 4.125rem;
    text-align:center;
    color:#6c584c;
    padding-bottom:3.75rem;
    font-weight: bold;
    background-color: #DDE5B6;
    padding-top:3.125rem;
}



.embla{
      background-color: #DDE5B6;
      }

    .embla__container {
      display: flex;
      padding-bottom:6.25rem;
      
      
    }
    .embla__slide {
        display: flex;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);       
        margin-right: 3.9375rem;
    }
    
    .imgDiv{

        width:18.75rem;
        height:12.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;   
        border-radius: .625rem;
        
        
    }
    .cardImg{
        width:9.375rem;
        height:9.375rem;
        border-radius: .375rem;
        transition: all 1s ;
        &:hover{
            transform: scale(1.1);}
        
    }
    
    .cardText{
        width:100%;
       
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        color:#6c584c
    }
    
    .cardText h1{
        font-size:1.375rem;
        text-align: left;
        font-weight: bold;
        
    }

    .cardText button{
        width: 6.25rem;
        height:2.25rem;
        text-align: center;
        font-size: 1.125rem;
        border-radius: .625rem;
        border:none;
        color:#6c584c;
        outline: none;
        padding:0 1.25rem;
        margin:auto;
        margin-top:1.25rem;
        margin-bottom:1.25rem;
        background-color: #ADC178;
        &:hover{
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            font-weight: 500;
            
            &:active{
                transform: scale(0.9);
            }
        }
        
    }
    
    
    
    @media (max-width: 768px) {
    
        .projects h1{
            font-size: 3.125rem;
        }
          .embla__container {
           
            padding-bottom:0rem;
            
          }
          .embla__slide {
             
              padding-top:1.25rem;
              padding-bottom:1rem;
              margin-right: 47px;
             
              height:12rem;
          }
          
          .imgDiv{
      
              width:15.5rem;
              height:8.5rem;
             
              
          }
          .cardImg{
              width:8.125rem;
              height:8.125rem;
              
          }
          
          .cardText{
              
              gap:0;
          }
          
          .cardText h1{
              font-size:1.2rem;
             
          }
          .cardText p{
              font-size:1rem;
          }
      
          .cardText button{
              width: 5rem;
              height:2rem;
             
              font-size: 1rem;
              
              padding:0 1rem;
              
              margin-top:1rem;
              
              } 

              .cardText h1,
                .cardText p {
                margin: 0; 
                padding: 0;
                }

          
    }

    @media (max-width:390px){

        .projects h1{
            font-size: 3rem;
        }

        .cardText h1{
            font-size: 1.1rem;
        }

    }