
.projects{
    width:100%;
    height:auto;
    /* background-color: #dde5b6; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #DDE5B6;
    padding-top:50px;
}


.topDiv{
    width:100%;
    height:100px;
    margin:auto;
    padding:0px;
    text-align: center;
   
   
}

.topDiv h1{
    font-size: 4.125rem;
    margin:auto;
    text-align:center;
    color:#6c584c;
    
    font-weight: bold;
    
}




.embla{
margin-top:100px;
  overflow: hidden;
  width:75%;
 
  
  }
.embla__container {
  display: flex;
 flex-direction: row;
 width:40%;
 gap:20px;
  height: 400px;
  
  
}
.embla__slide {
    display: flex;
    min-width: 300px;
        margin-top:50px;
    margin-right: 20px;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    flex: 0 0 100%;
    border-radius: 10px;
    margin-bottom:50px;
    
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: #ADC178;
    }
    
    
    
}

.card{
    width:300px;
    height:200px;    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
    border-radius: 10px;
    margin-top: 50px;
    
       
}
.image{
    
    width:150px;
    height:200px;
    
    
}



.content{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding:10px;
    gap:10px;
}

.content h1{
    font-size:22px;
    color:#6C584C;
    text-align: left;
    font-weight: bold;
}


.content p {

    font-size: 18px;
    color: #6C584C;
}
