
 .projects{
    width:100%;
    margin:auto;
   
    background-color: #DDE5B6;
    padding-top:50px;
} 

.heading h1{
    font-size: 4.125rem;
    
    text-align:center;
    color:#6c584c;
    padding-bottom:60px;
    font-weight: bold;
    background-color: #DDE5B6;
    padding-top:50px;
}



.embla{
      background-color: #DDE5B6;
      }
    .embla__container {
      display: flex;
      padding-bottom:100px;
      
    }
    .embla__slide {
        display: flex;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

        
        padding-top:40px;
        padding-bottom:40px;
        margin-right: 3.9375rem;
    }
    
    .imgDiv{

        width:300px;
        height:200px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;   
        border-radius: 10px;
        
    }
    .cardImg{
        width:150px;
        height:150px;
        border-radius: 6px;
        transition: all 1s ;
        &:hover{
            transform: scale(1.1);}
        
    }
    
    .cardText{
        width:100%;
        
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap:20px;
        color:#6c584c
    }
    
    .cardText h1{
        font-size:22px;
        text-align: left;
        font-weight: bold;
        
    }

    .cardText button{
        width: 100px;
        height:36px;
        text-align: center;
        font-size: 18px;
        border-radius: 10px;
        border:none;
        color:#6c584c;
        outline: none;
        padding:0 20px;
        margin:auto;
        margin-top:30px;
        background-color: #ADC178;
        &:hover{
            box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0,0.2);
            font-weight: 500;
            
            &:active{
                transform: scale(0.9);
            }
        }



        
        
    }
    
    
    
    @media (max-width: 768px) {
    
    
        .board{
            position: relative;
            z-index: -100;
        }
    
        .embla{
            position: relative;
            z-index: -100;
        }
    }