@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Dancing+Script:wght@400..700&family=Grey+Qo&display=swap');

*body{
    width:1440px;
    height:1024px;
    background-color: #8d99ae;
    
    font-family: 'Inter', sans-serif;

}
