
.testimonials{

    width:100%;
    background-color: #DDE5B6;
    padding-top:50px;
   
}
.testimonials h1{

    font-size: 4.125rem;    
    text-align:center;
    color:#6c584c;
    font-weight: bold;
    

}

.myWork{
    width:90%;
    margin:auto;
    display:grid;
    gap:95px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    

}

.card{
    display:flex;
    flex-direction: column;
    background-blend-mode:color-burn;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius:10px;
    transition: background-color 0.3s ease-in;
&:hover{
    background-color: #ADC178;
}  
    
}



.image{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin:auto;
    margin-bottom:30px;
    margin-top:20px;
    transition:all 0.3s ease-in-out;

    &:hover{
        transform:scale(1.03)
    }
}

.content{
    text-align: center;
    color:#6C584C;
}

.content h1{
    font-size: 1rem;
    color:#6C584C;
    margin-bottom: 10px;
    
}

.content p{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) { 
    .myWork{
        width:80%;
    }

.testimonials h1{

    font-size: 3.125rem;    
    
}



.content h1{
    font-size: 1rem;
    color:#6C584C;
    margin-bottom: 10px;
    
}
.myWork {
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px; 
}
}

@media (max-width: 390px) {
    .testimonials h1{

        font-size: 3rem;    
        
    }

    .content h1{
        font-size: 1rem;
    }

    .myWork {
        grid-template-columns: 1fr; 
        gap: 30px; 
        width:75%;
    }
}