.hero{
    width:100%;
    
    background-color: #dde5b6;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.color{
    color:#6c584c;
    font-size:3.5rem ;
    text-decoration: underline;
    font-weight: 700;

}

.hero h1{
    margin-top:40px;
    font-size: 2.5rem;
    text-align: center;
    color:#6C584C;
}

.hero p{
    font-size: 22px;
    text-align: center;
    color:#6c584c;
    margin-top: 60px;
    
}

.hero button{
    
    width: 160px;
    height:36px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    color:#6c584c;
    border:none;
    outline: none;
    padding:0 30px;
    margin-top:60px;
    background-color: #ADC178;
    &:hover{
        box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0,0.2);
        font-weight: 500;
        
    }

    &:active{
        transform: scale(0.9);
    }
}

.hero .icons{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    margin-top:60px;
}


.hero .bottomDiv{
    width: 100%;
    height:80px;
    background-color: #6c584c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}

.size {
    font-size: 50px;
}

.emoji{
    font-size: 50px;
    display:inline-block;
       
}




@media (max-width: 768px) {

    

    .hero h1{

        margin-top: 20px;
        font-size: 30px;
        text-align: center;
        margin-bottom:20px;
    }
    .color{
        
        font-size:2.5rem ;
        
    
    }
    .size {
        font-size: 30px;
    }

    .fiver{
        width:80px;
        height:80px;
    }

    .hero p{
        font-size: 18px;
        text-align: center;
        margin-bottom:20px;
        
    }

    .hero button{
        margin-bottom:40px;
    
    }

    .hero .icons{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:5px;
        gap:30px;
        margin-bottom:30px;
    }
 
    .emoji{
        font-size: 35px;
        
        
    }
    
    
    
    .hero .bottomDiv{
        width: 100%;
        height: 60px;
        background-color: #6c584c;
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
        
    }
    .mb{
        margin-top: 0;
    }
    
}

@media (max-width: 390px) {

    .hero h1{
        font-size: 25px;
    }

    .color{
        
        font-size:2rem ;
    }

    .emoji{
        font-size: 30px;
        z-index:-1111;
       
    }
    .hero p{
        font-size: 16px;
        text-align: center;
        margin-bottom:20px;
        
    }

    .hero button{
    
        width: 140px;
        height:36px;
        text-align: center;
        font-size: 16px;
    }

    .size {
        font-size: 25px;
    }

    .fiver{
        width:65px;
        height:65px;
    }

}